name: Run Tests

on:
  workflow_dispatch:
  push:
    tags-ignore:
      - "**"
    paths:
      - "src/dublib/Methods/Data.py"
      - "src/dublib/Polyglot/**"
      - "tests/**"
  pull_request:
    paths:
      - "src/dublib/Methods/Data.py"
      - "src/dublib/Polyglot/**"
      - "tests/**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]

      - name: Run tests
        run: pytest -v
